.card {
margin: 10px;
background-color: #4d2424;
color: rgb(255, 255, 255);
display:"grid";
 gap:"16px";
padding:"16px";
}
.card_training{
border: 2px #e41a1a;
color:crimson
}

.card_rookie{
border: 2px dashed hsl(112, 89%, 49%);
color:chartreuse;
}

.card_champion{
border: 2px dashed aqua;
color:aqua;

}


.card_ultimate {
border: 2px #ffd000;
color:gold

}


.card_mega {
border: 2px solid  #da1dab;
color:deeppink

}

.image {
height: 50px;
width: 50px;

}

